/* STYLING IS WORKED BY MOBILE FIRST */
body {
  background-color:  #FFFFFF;
  margin: 0;
}

aside{
  background-color: #FFFFFF;
  margin: 0;
}

header{
  height: 250px;
}

h2{
  color: aqua;
}

.header-img{
  position: relative;
  height: 250px;
  overflow: hidden;
  background-image: url('airplane.jpg');
  background-size: cover;
  background-position: center;
}

.icon {
  color: aliceblue;
  
}

.about-you{
  color: aliceblue;
}

.seflie{
  color: aliceblue;
}

.top-section{
  background-color: #F4F4F4;
  height: 200px;
}

.summary-section{
  background-color: #FFFFFF;
  height: 200px;
}

.tech-section{
  background-color: #F4F4F4;
  height: 200px;
}

.featured-projects{
  background-color: #FFFFFF;
  height: 200px;
}

.other-projects{
  background-color: #F4F4F4;
  height: 200px;
}

.my-thoughts{
  background-color: #FFFFFF;
  height: 200px;
}

.skils{
  background-color: #F4F4F4;
  height: 200px;
}

.more-me{
  background-color: #FFFFFF;
  height: 200px;
}

footer{
  background-color: #072BCE;
  height: 100px;
}

@media (min-width: 667px) and (max-width: 1024px) {

  body{
    background-color: #FFFFFF;
  }

  aside{
    margin: 0 50px 0 50px;
  }

  header{
    height: 300px;
  }

  .header-img{
    position: relative;
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
  
  .icon {
    color: aliceblue;
    text-align: right;
    padding: 90px;
    font-size: 19px;
  }
  
  .about-you{
    color: aliceblue;
  }
  
  .seflie{
    color: aliceblue;
  }
  
  .top-section{
    height: 250px;
  }
  
  .summary-section{
    height: 250px;
  }
  
  .tech-section{
    height: 250px;
  }
  
  .featured-projects{
    height: 250px;
  }
  
  .other-projects{
    height: 250px;
  }
  
  .my-thoughts{
    height: 250px;
  }
  
  .skils{
    height: 250px;
  }
  
  .more-me{
    height: 250px;
  }
  
  footer{
    height: 100px;
  }

}
@media (min-width: 1025px) {

  body{
    background-color: #FFFFFF;
  }

  aside{
    margin: 0 75px 0 75px;
  }

  header{
    height: 400px;
  }

  .header-img{
    position: relative;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
  
  /*.icon {
    color: aliceblue;
    text-align: right;
    padding: 90px;
    font-size: 19px;
  }*/
  
  /*.about-you{
    color: aliceblue;
  }*/
  
  /*.seflie{
    color: aliceblue;
  }*/
  
  .top-section{
    height: 350px;
  }
  
  .summary-section{
    height: 350px;
  }
  
  .tech-section{
    height: 350px;
  }
  
  .featured-projects{
    height: 350px;
  }
  
  .other-projects{
    height: 350px;
  }
  
  .my-thoughts{
    height: 350px;
  }
  
  .skils{
    height: 350px;
  }
  
  .more-me{
    height: 350px;
  }
  
  footer{
    height: 100px;
  }
  
  

}

