/* STYLING IS WORKED BY MOBILE FIRST */
body {
  background-color:  #FFFFFF;
  margin: 0;
}

aside{
  background-color: #FFFFFF;
  margin: 0;
}

header{
  height: 250px;
}

h2{
  color: #000000;
}

.header-img{
  position: relative;
  height: 250px;
  overflow: hidden;
  background-image: url('images/airplane.jpg');
  background-size: cover;
  background-position: center;
}

/*.icon-container{
  border: 3px solid #ffffff;
  border-radius: 50% ;
  display: flex;
  top: 6379px;
}*/

.social-media {
  color: aliceblue;
  display: flex;
  justify-content: flex-end;
  height: 12vw;
  /*width: 12vw;*/
  margin-right: 40px;
}

.linkedin-icon{
  width: 15px;
  height: 15px;
}

.link-linkedin{
  border: 3px solid #ffffff;
  border-radius: 50% ;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.github-icon{
  width: 15px;
  height: 15px;
}

.link-github{
  border: 3px solid #ffffff;
  border-radius: 50% ;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.stackoerflow-icon{
  width: 15px;
  height: 15px;
}

.link-stackoverflow{
  border: 3px solid #ffffff;
  border-radius: 50% ;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
}

.about-you{
  color: aliceblue;
}

.seflie{
  color: aliceblue;
  display: flex;
  display: flex;
  justify-content: flex-end;
}

.top-section{
  background-color: #F4F4F4;
  height: 200px;
  text-align: center;
  font-family: "Montserrat";
  letter-spacing: 0;
  margin: 5px 0 0 0;
  padding: 58px 36px;
  font-size: 17px;
}

.tech-section{
  background-color: #FFFFFF;
  height: 200px;
  text-align: center;
  font-family: "Montserrat";
  letter-spacing: 0;
  margin: 5px 0 0 0;
  padding: 58px 36px;
  font-size: 17px;
  /*opacity: 1;*/
}

.featured-projects{
  background-color: #F4F4F4;
  height: 200px;
}

.other-projects{
  background-color: #FFFFFF;
  height: 200px;
}

.my-thoughts{
  background-color: #F4F4F4;
  height: 200px;
}

.skils{
  background-color: #FFFFFF;
  height: 200px;
}

.more-me{
  background-color: #F4F4F4;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkdin-footer{
  border: 3px solid #FF0000;
  border-radius: 50% ;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin: 40px;
}

.github-footer{
  border: 3px solid #FF0000;
  border-radius: 50% ;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin: 40px;
}

.stackoverflow-footer{
  border: 3px solid #FF0000;
  border-radius: 50% ;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  margin: 40px;
}

footer{
  background-color: #072BCE;
  height: 100px;
}

@media (min-width: 667px) and (max-width: 1024px) {

  body{
    background-color: #FFFFFF;
  }

  aside{
    margin: 0 50px 0 50px;
  }

  header{
    height: 300px;
  }

  .header-img{
    position: relative;
    height: 300px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }
  
  .social-media {
    color: aliceblue;
    text-align: right;
    padding: 90px;
    font-size: 19px;
  }

  .link-github{
    width: 35px;
    height: 35px;
    padding: 7px;
  }

  .link-stackoverflow{
    width: 35px;
    height: 35px;
    padding: 7px;
  }
  
  .about-you{
    color: aliceblue;
  }
  
  .seflie{
    color: aliceblue;
  }
  
  .top-section{
    height: 250px;
  }
  
  .tech-section{
    height: 250px;
  }
  
  .featured-projects{
    height: 250px;
  }
  
  .other-projects{
    height: 250px;
  }
  
  .my-thoughts{
    height: 250px;
  }
  
  .skils{
    height: 250px;
  }
  
  .more-me{
    height: 250px;
  }

  .linkdin-footer{
    width: 60px;
    height: 60px;
    display: flex;
    padding: 7px;
    margin: 40px;
  }

  .github-footer{
    width: 60px;
    height: 60px;
    padding: 7px;
    margin: 40px;
  }
  
  .stackoverflow-footer{
    width: 60px;
    height: 60px;
    padding: 7px;
    margin: 40px;
  }
  
  footer{
    height: 100px;
  }

}
@media (min-width: 1025px) {

  body{
    background-color: #FFFFFF;
  }

  aside{
    margin: 0 75px 0 75px;
  }

  header{
    height: 400px;
  }

  .header-img{
    position: relative;
    height: 400px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  .link-github{
    width: 35px;
    height: 35px;
    padding: 7px;
  }

  .link-stackoverflow{
    width: 35px;
    height: 35px;
    padding: 7px;
  }
  
  .top-section{
    height: 350px;
  }

  .tech-section{
    height: 350px;
  }
  
  .featured-projects{
    height: 350px;
  }
  
  .other-projects{
    height: 350px;
  }
  
  .my-thoughts{
    height: 350px;
  }
  
  .skils{
    height: 350px;
  }
  
  .more-me{
    height: 350px;
  }

  .linkdin-footer{
    width: 60px;
    height: 60px;
    display: flex;
    padding: 7px;
    margin: 40px;
  }

  .github-footer{
    width: 60px;
    height: 60px;
    padding: 7px;
    margin: 40px;
  }
  
  .stackoverflow-footer{
    width: 60px;
    height: 60px;
    padding: 7px;
    margin: 40px;
  }
  
  footer{
    height: 100px;
  }
  
  

}

